[Unit]
Description=IronFish_Timer-send
Requires=send.service

[Timer]
Unit=send.service
OnCalendar=Fri *-*-* 06:25:00
#OnUnitActiveSec=8640m

[Install]
WantedBy=timers.target
